.auth-form {
	right: 1em;
}

.auth-menu {
	display: none;
	position: absolute;
	top: 3em;
	right: 1em;
	width: 10em;
	height: auto;
	color: white;
	background-color: black;	
}

.auth-form:hover .auth-menu {
	display: block;
}