.btn {
	color: white;
	background-color: black;
	border: none;
	border-radius: 0.5em;
	padding: 1em;
	cursor: pointer;
}

.btn-like {
	display: flex;
	width: auto;
	height: 2em;
	padding: 0;
	padding-left: 3em;	
	justify-content: flex-end;
	background-color: transparent;
	position: relative;
	color: black;
	outline: none!important;
	overflow: hidden;
	
}

.btn-like:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 2em;
	height: 2em;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(../../img/like.svg);
}

.btn-like--liked.btn-like:before {
	background-image: url(../../img/likefilled.svg);
}


.btn-like img {
	width: 3em;
	height: 100%
}

.btn-back {
	margin-bottom: 1em
}

.photos__loadmore {
	width: 15em;
	margin: 1em auto;
}

.btn-loadmore {
	width: 100%;
	margin: 1em auto;
}

.btn-auth {
	width: 15em;
	margin-rigth: 40%;

}






