ul {
	list-style: none;
	padding-left: 0px;
	margin-left: 25px;
}

ul li {
	display: block;
	margin-bottom: 15px;
}

form {
	display: flex;
	margin-left: 25px;
	flex-direction: column;
	width: 50%;
}

input {
	margin-bottom: 15px;
}

textarea {
	margin-bottom: 15px;
}

input[type = submit] {
	width: 200px;
}

.deleteBtn {
	margin-top: 25px;
	background-color: blue;
	line-height: 20px;
	border: 0;
	color: white;
}